*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;

}

.header{
    background-color: #002e6d;
    height: 120px;
}

.header img{
    width: 200px;
    position: relative;
    left: 55px;
    top: 15px;
}

.Form{
    display: flex;
    max-width: 1200px;
    width: 85%;
    margin: auto;
    flex-direction: column;
    background-color:white;
    height: 90vh;
}

.Form h1{
    margin-top: 55px;
    text-align: center;
}

.Form form{
    width: 50%;
    margin: 35px auto;
}

.Form form .item{
    display: flex;
    flex-direction: column;
    background-color: white;
}

.Form form .item label{
    background-color: white;
}

.Form form .item input{
    height: 30px;
    margin-bottom: 15px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: white;
    font-size: 16px;
    padding-left: 5px;
}

.Form form .item button{
    height: 35px;
    margin-bottom: 15px;
    border: solid 1px black;
    border-radius: 5px;
    background-color: rgb(61, 131, 223);
    color: white;
}

.Form form .item button a{
    text-decoration: none;
    color: white;
}



/*-------------------------*/
#loader {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #ffffff;
    opacity: 0.7;
  }
  
  #loader::after {
    content: "";
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
/*---------------------------------------------*/
.data {
    max-width: 1000px;
    width: 85%;
    margin: 0 auto;
    height: 90vh;
}

.data .head{
    margin-top: 75px;
    margin-bottom: 50px;
}

.data .head2{
    margin-bottom: 10px;
}

.data .text{
    border: solid 1px;
    padding: 20px;
    border-radius: 5px;
}

.data .text div{
    display: flex;
    justify-content: space-between;
}

.usa-footer__secondary-section {
    padding-bottom: 1.25rem;
    padding-top: 1.25rem;
    color: #1b1b1b;
    background-color: #c5c5c5;
}